<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantallafirstview">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PETBook"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.PETBook.PantallaSignUp"
            android:parentActivityName="com.example.PETBook.PantallaLogSign">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.MyPets" />
        </activity>
        <activity
            android:name="com.example.PETBook.Pet1"
            android:parentActivityName="com.example.PETBook.MyPets">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.MyPets" />
        </activity>
        <activity android:name="com.example.PETBook.MyCalendar"
        android:parentActivityName="com.example.PETBook.PantallaHome">

        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.PETBook.MyPets" />
        </activity>

        <activity android:name="com.example.PETBook.MyEvents"
            android:parentActivityName="com.example.PETBook.PantallaHome"
            android:label="MyEvents"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.PETBook.MyPets" />
        </activity>

        <activity android:name="com.example.PETBook.MyPets"
        android:parentActivityName="com.example.PETBook.PantallaHome">

        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.PETBook.MyPets" />
        </activity>

        <activity android:name="com.example.PETBook.MyPosts"
        android:parentActivityName="com.example.PETBook.PantallaHome">

        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.PETBook.MyPets" />
        </activity>

        <activity android:name="com.example.PETBook.PantallaHome" />
        <activity android:name="com.example.PETBook.PantallaLogSign" />
        <activity android:name="com.example.PETBook.PantallaFirstView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>