<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantallafirstview">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="PETBook"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.PETBook.EditEvent" />
        <activity
            android:name="com.example.PETBook.PetInfo"
            android:label="@string/title_activity_pets"
            android:parentActivityName="com.example.PETBook.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.MainActivity" />
        </activity>
        <activity android:name="com.example.PETBook.EventInfo" />
        <activity android:name="com.example.PETBook.ForumInfo" />
        <activity android:name="com.example.PETBook.EditPet" />
        <activity
            android:name="com.example.PETBook.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.PETBook.DeletePet"
            android:label="@string/title_activity_pets"
            android:parentActivityName="com.example.PETBook.PetsContainer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.MainActivity" />
        </activity>
        <activity android:name="com.example.PETBook.NewEvent" />
        <activity android:name="com.example.PETBook.NewForum" />
        <activity
            android:name="com.example.PETBook.PetsContainer"
            android:label="@string/title_activity_pets"
            android:parentActivityName="com.example.PETBook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.MainActivity" />
        </activity>
        <activity
            android:name="com.example.PETBook.NewPet"
            android:parentActivityName="com.example.PETBook.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.PetsContainer" />
        </activity>
        <activity
            android:name="com.example.PETBook.PantallaSignUp"
            android:parentActivityName="com.example.PETBook.PantallaLogSign">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.PETBook.PetsContainer" />
        </activity>
        <activity android:name="com.example.PETBook.PantallaLogSign" />
        <activity android:name="com.example.PETBook.PantallaFirstView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>