<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>PetBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body >
  <div class="py-5 text-center" style="background-image: url('https://images.freeimages.com/images/large-previews/05e/on-the-road-6-1384796.jpg');background-size:cover;position:fixed;top:0;bottom:0;left:0;right:0">
    <div class="container">
      <div class="row" >
        <div class="bg p-5 mx-auto col-md-7 col-10" style="background-color:#ffeee6;opacity:0.8;border-radius: 25px;margin-top:200px;padding-top:50px;padding-bottom:50px">
          <h3 class="display-3">Welcome!</h3>
          <p class="mb-3 lead"></p>
          <p class="mb-4"><h5 th:text="'Hello, your email ' + ${email} + ' has been confirmed. Congratulations!'"/></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>


